<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="template :: head (#{admin.headquarter.headquarterAdd})"></head>
<body>
    <section class="body">
        <div class="main">
            <section role="main" class="content-body">
            	<section class="panel" role="main">
					<header class="panel-heading">
                        <h2 class="panel-title">
                            <i class="fa fa-caret-square-o-right text-primary"></i>
                            <span th:text="#{admin.headquarter.headquarterRegistration}"></span>
                        </h2>
					</header>
					<div class="panel-body">
                        <form method="post" th:action="@{/partner2/addHeadquarter}" id="headquarter-add-form" class="form-horizontal form-bordered mb-lg vform" novalidate="novalidate"  >
                            <input type="hidden" name="seq" th:value="0" autocomplete="off"/>
                            <div class="form-group">
                            	<label class="col-sm-2 control-label" th:text="#{admin.common.id}"></label>
                                <div class="col-sm-4">
                                    <input type="text" name="id" class="form-control" required/>
                                </div>
                                <label class="col-sm-2 control-label" th:text="#{admin.common.password}"></label>
                                <div class="col-sm-4">
                                    <input type="text" name="password" class="form-control" required/>
                                </div>
                            </div>
                            <div class="form-group">
                            	<label class="col-sm-2 control-label" th:text="#{admin.common.nickname}"></label>
                                <div class="col-sm-4">
                                    <input type="text" name="nickname" class="form-control" required/>
                                </div>
                                <label class="col-sm-2 control-label" th:text="#{admin.common.phoneNumber}"></label>
                                <div class="col-sm-4">
                                    <input type="text" name="phoneNumber" class="form-control" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" th:text="#{admin.common.nameOfBank}"></label>
                                <div class="col-sm-4">
                                    <input type="text" name="bankName" class="form-control" required/>
                                </div>
                                <label class="col-sm-2 control-label" th:text="#{admin.common.accountNumber}"></label>
                                <div class="col-sm-4">
                                    <input type="text" name="bankNumber" class="form-control" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" th:text="#{admin.common.accountHolder}"></label>
                                <div class="col-sm-4">
                                    <input type="text" name="accountHolder" class="form-control" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" th:text="#{admin.distributor.settlementRate}"></label>
                                <div class="col-sm-4">
                                	<label th:text="#{admin.common.slot}"></label>
                                    <input type="number" name="slotRate" class="form-control" style="width:70px; display:inline-block;" required/>
                                    <span>%</span>
                                    <label th:text="#{admin.common.baccarat}"></label>
                                    <input type="number" name="baccaratRate" class="form-control" style="width:70px; display:inline-block;" required/>
                                    <span>%</span>
                                </div>
                            </div>
                        </form>
					</div>
					<div class="panel-footer">
						<button class="btn btn-primary headquarter-add" th:text="#{admin.common.registration}"></button>
                        <a href="javascript: window.close();" class="btn btn-default" th:text="#{admin.common.close}"></a>
					</div>
				</section>
			</section>
        </div>
    </section>
    
    <script type="text/javascript" th:inline="javascript">
	    var url = [[${url}]];
	</script>
	
    <script th:replace="template :: scripts"></script>
    <script th:src="@{/assets/javascripts/partner/headquarterAdd.js}"></script>
</body>

</html>