<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="template :: head (#{admin.store.storeList})"></head>
<link rel="stylesheet" th:href="@{/assets/stylesheets/admin/store.css}"/>
<body>
	<section class="body store">
	    <header th:replace="template :: header" class="header"></header>
	
	    <div class="inner-wrapper">
	        <aside th:replace="template :: sidebar" id="sidebar-left" class="sidebar-left"></aside>
	
	        <section role="main" class="content-body">
	            <section class="panel">
	                <header class="panel-heading">
	                    <h2 class="panel-title" th:text="#{admin.store.storeList}"></h2>
	                </header>
	                <div class="panel-body">
	                    <form class="form-inline search-form" th:action="@{/partner2/list_store}" id="formSearch" method="get" th:object="${store}">
	                        <div class="form-group">
	                            <label>
	                                <i class="fa fa-plus bg-primary" style="padding: 2px;"></i>
	                                <span th:text="#{admin.headquarter.queryDate}"></span>
	                           </label>
	                           <div class="input-daterange input-group" data-plugin-datepicker data-date-format="yyyy-mm-dd">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
	                                <input type="text" class="form-control"  name="fromApplicationTime" th:field="*{fromApplicationTime}">
	                                <span class="input-group-addon">~</span>
	                                <input type="text" class="form-control" name="toApplicationTime" th:field="*{toApplicationTime}">
                              </div>
	                       </div>
	                       <div class="form-group">
	                           <label for="pageSize">
	                               <i class="fa fa-plus bg-primary" style="padding: 2px;"></i>
	                               <span th:text="#{admin.common.print}"></span>
	                           </label>
	                           <input type="text" class="form-control" id="pageSize" name="pageSize" style="width: 50px;" th:value="${pageSize}">
	                       </div>
	                       <div class="form-group">
	                           <label for="distributor">
	                               <i class="fa fa-plus bg-primary" style="padding: 2px;"></i>
	                               <span th:text="#{admin.store.distributorSelection}"></span>
	                           </label>
	                           <select class="form-control" name="distributor" th:field="*{distributor}">
	                               <option value="" th:text="#{admin.common.select}"></option>
	                               <option th:each="item, status:${distributorList}"
							         	th:value="${item.seq}"
										th:text="${item.id}">
									</option>
	                           </select>
	                           <select class="form-control" name="column" th:field="*{orderByType}" style="max-width: 120px;">
	                               <option value="-1" th:text="#{admin.common.sortBy}"></option>
	                               <option value="0" th:text="#{admin.common.sort.holding}"></option>
	                               <option value="1" th:text="#{admin.common.sort.registration}"></option>
	                               <option value="2" th:text="#{admin.common.sort.inOrder}"></option>
	                           </select> 
	                       </div>
	                       <div class="form-group">
	                       		<label for="pageSize">
	                               <i class="fa fa-plus bg-primary" style="padding: 2px;"></i>
	                               <span th:text="#{admin.store.storeSearch}"></span>
	                           </label>
	                           <select class="form-control" name="id" th:field="*{selectType}">
	                               <option value="1" th:text="#{admin.common.id}"></option>
	                               <option value="2" th:text="#{admin.common.nickname}"></option>
	                           </select>
	                           <input type="text" class="form-control" id="search-input" name="keyword" th:field="*{keyword}">
	                           <button type="submit" class="btn btn-default">
	                           		<span th:text="#{admin.common.search}"></span>
	                                <i class="fa fa-search"></i>
	                           </button>
	                       </div>
	                   </form>
	                   <div class="form-group" >
	                       	<span style="float:right;" th:text="#{admin.store.losing.amount}"><b>Losing Amount = 23%</b></span>
                       </div>
	                   <div class="table-scrollable">
	                       <table class="table table-bordered table-striped store-list">
	                           <thead>
	                           	<tr>
	                               	<th th:text="#{admin.common.deputyHeadquarter}"></th>
	                            	<th th:text="#{admin.common.distributor}"></th>
	                                <th th:text="#{admin.common.id}"></th>
									<th th:text="#{admin.common.nickname}"></th>
									<th th:text="#{admin.common.holdingMoney}"> </th>
									<th th:text="#{admin.common.member}"></th>
									<th th:text="#{admin.statistic.depositMember}"></th>
									<th th:text="#{admin.common.deposit.partner.payment}"></th>
									<th th:text="#{admin.common.withdrawal.partner.payment}"></th>
									<th th:text="#{admin.member.differenceOfDepositAndWithdraw}"></th>
									<th th:text="#{admin.store.storeSummary}"></th>
									<th th:text="#{admin.common.type}"></th>
									<th th:text="#{admin.common.betAmount}"></th>
									<th th:text="#{admin.bettingSummary.winningAmount}"></th>
									<th th:text="#{admin.headquarter.losingAmount}"></th>
									<th th:text="#{admin.distributor.batRolling}"></th>
									<th th:text="#{admin.distributor.settlementRate}"></th>
									<th th:text="#{admin.distributor.processedRollingGold}"></th>
									<th th:text="#{admin.common.status}"></th>
									<th style="min-width: 180px;" th:text="#{admin.common.process}"></th>
                        	   	</tr>
	                           </thead>
	                           <tbody>
	                               <tr th:each="entity, stat : ${page.records}">
	                               		<input type="hidden" class="store-seq" th:data-key="${entity.seq}"/>
	                                   	<td><a class="deputy-headquarter-detail" th:data-key="${entity.headquarterSeq}" th:text="${entity.headquarter}"></a></td>
	                                   	<td><a class="partner-distributor-detail" th:data-key="${entity.distributorSeq}" th:text="${entity.distributor}"></a></td>
	                                   	<td><a class="partner-store-detail" th:data-key="${entity.seq}" th:text="${entity.id}"></a></td>
										<td th:text="${entity.nickname}"></td>
										<td th:text="${#numbers.formatDecimal(entity.moneyAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
										<td><a class="store-memberCount" th:text="${entity.memberCount}"></a></td>
										<td th:text="${entity.depositMemberCount}"></td>
										<td>
											<span th:text="${#numbers.formatDecimal(entity.depositMemberAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span><br/>
											<span class="text-primary" th:text="${'[' + #numbers.formatDecimal(entity.depositPartnerAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '') + ']'}"></span><br/>
											<span class="title-pink" th:text="${'(' + #numbers.formatDecimal(entity.depositPayment, 1, 'COMMA', 2, 'POINT').replace('.00', '') + ')'}"></span>
										</td>
										<td>
											<span th:text="${#numbers.formatDecimal(entity.withdrawalMemberAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span><br/>
											<span class="text-primary" th:text="${'[' + #numbers.formatDecimal(entity.withdrawalPartnerAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '') + ']'}"></span><br/>
											<span class="title-pink" th:text="${'(' + #numbers.formatDecimal(entity.withdrawalPayment, 1, 'COMMA', 2, 'POINT').replace('.00', '') + ')'}"></span>
										</td>
										<td>
											<span th:class="${(entity.depositMemberAmount - entity.withdrawalMemberAmount) eq 0 ? '' : 'text-blue'}" th:text="${#numbers.formatDecimal((entity.depositMemberAmount - entity.withdrawalMemberAmount), 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span><br/>
											<span th:class="${(entity.depositPartnerAmount - entity.withdrawalPartnerAmount) eq 0 ? '' : 'text-blue'}" th:text="${'[' + #numbers.formatDecimal((entity.depositPartnerAmount - entity.withdrawalPartnerAmount), 1, 'COMMA', 2, 'POINT').replace('.00', '') + ']'}"></span><br/>
											<span th:class="${(entity.depositPayment - entity.withdrawalPayment) eq 0 ? '' : 'text-blue'}" th:text="${'(' + #numbers.formatDecimal((entity.depositPayment - entity.withdrawalPayment), 1, 'COMMA', 2, 'POINT').replace('.00', '') + ')'}"></span>
										</td>
										<td>
											<button class="btn btn-sm btn-default progress-bet" th:text="#{admin.common.store} + ' ' + #{admin.common.summary}">Store Summary</button>
										</td>
										<td>
											<p class="bg-white-yellow" style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="#{admin.common.slot}"></span>
											</p>
											<p class="bg-white-grey" >
												<span th:text="#{admin.common.baccarat}"></span>
											</p>
										</td>
										<td>
											<p class="bg-white-yellow" style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${entity.gameType == 0 ? #numbers.formatDecimal(entity.betAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '') : 0}"></span>
											</p>
											<p class="bg-white-grey">
												<span th:text="${entity.gameType == 1 ? #numbers.formatDecimal(entity.betAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '') : 0}"></span>
											</p>
										</td>
										<td>
											<p class="bg-white-yellow" style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${entity.gameType == 0 ? #numbers.formatDecimal(entity.winningAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '') : 0}"></span>
											</p>
											<p class="bg-white-grey">
												<span th:text="${entity.gameType == 1 ? #numbers.formatDecimal(entity.winningAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '') : 0}"></span>
											</p>
										</td>
										<td>
											<p class="bg-white-yellow" style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${entity.gameType == 0 ? #numbers.formatDecimal(entity.lostAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '') : 0}"></span>
											</p>
											<p class="bg-white-grey">
												<span th:text="${entity.gameType == 1 ? #numbers.formatDecimal(entity.lostAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '') : 0}"></span>
											</p>
										</td>
										<td>
											<p class="bg-white-yellow" style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${entity.gameType == 0 ? #numbers.formatDecimal(entity.batRolling, 1, 'COMMA', 2, 'POINT').replace('.00', '') : 0}"></span>
											</p>
											<p class="bg-white-grey">
												<span th:text="${entity.gameType == 1 ? #numbers.formatDecimal(entity.batRolling, 1, 'COMMA', 2, 'POINT').replace('.00', '') : 0}"></span>
											</p>
										</td>
										<td>
											<p class="bg-white-yellow"style="border-bottom: 1px solid #c1c	1c1; text-align:center;">
												<span th:text="${#numbers.formatDecimal(entity.slotRate, 1, 'COMMA', 2, 'POINT').replace('.00', '') + '%'}"></span>
											</p>
											<p class="bg-white-grey">
												<span th:text="${#numbers.formatDecimal(entity.baccaratRate, 1, 'COMMA', 2, 'POINT').replace('.00', '') + '%'}"></span>
											</p>
										</td>
										<td th:text="${entity.batRolling}"></td>
										<td th:if="${entity.status == 0}" th:text="#{admin.common.normal}"></td>
										<td th:if="${entity.status == 1}" th:text="#{admin.common.stop}"></td>
										<td>
											<button class="btn btn-sm btn-default store-change-status-form" th:if="${entity.status == 0}" th:data-seq="${entity.seq}"><span class="text-danger" th:text="#{admin.common.stop}">Stop</span></button>
											<button class="btn btn-sm btn-default store-change-status-form" th:if="${entity.status == 1}" th:data-seq="${entity.seq}" th:text="#{admin.common.normal}">Normal</button>
											<button class="btn btn-sm btn-default store-delete-form" th:text="#{admin.common.delete}" th:data-seq="${entity.seq}">Delete</button>
											<button class="btn btn-sm btn-default store-note-form" th:text="#{admin.common.note}" th:data-seq="${entity.seq}">Note</button> 
										</td>
	                                </tr>
	                                <tr th:if="${page.total == 0}">
										<td colSpan="20" class="text-center" th:text="#{admin.common.noData}"></td>
									</tr>
									<tr th:if="${not #lists.isEmpty(page.records)}" class="background-primary text-default" style="background-color: #cfe7ff; color: #004675;">
										<td th:text="#{admin.common.sum}"></td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td th:text="${#numbers.formatDecimal(moneyAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
										<td th:text="${#numbers.formatDecimal(memberCountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
										<td th:text="${#numbers.formatDecimal(depositMemberCountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
										<td>
											<span th:text="${#numbers.formatDecimal(depositMemberAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span><br>
											<span class="text-primary" th:text="${'[' + #numbers.formatDecimal(depositPartnerAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '') + ']'}"></span><br>
											<span class="text-danger" th:text="${'(' + #numbers.formatDecimal(depositPaymentSum, 1, 'COMMA', 2, 'POINT').replace('.00', '') + ')'}"></span><br>
										</td>
										<td>
											<span th:text="${#numbers.formatDecimal(withdrawalMemberAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span><br>
											<span class="text-primary" th:text="${'[' + #numbers.formatDecimal(withdrawalPartnerAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '') + ']'}"></span><br>
											<span class="title-pink" th:text="${'(' + #numbers.formatDecimal(withdrawalPaymentSum, 1, 'COMMA', 2, 'POINT').replace('.00', '') + ')'}"></span><br>
										</td>
										<td>
											<span th:class="${(depositMemberAmountSum - withdrawalMemberAmountSum) eq 0 ? '' : 'text-blue'}" th:text="${#numbers.formatDecimal((depositMemberAmountSum - withdrawalMemberAmountSum), 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span><br>
											<span class="text-primary" th:text="${'[' + #numbers.formatDecimal((depositPartnerAmountSum - withdrawalPartnerAmountSum), 1, 'COMMA', 2, 'POINT').replace('.00', '') + ']'}"></span><br>
											<span class="title-pink" th:text="${'(' + #numbers.formatDecimal((depositPaymentSum - withdrawalPaymentSum), 1, 'COMMA', 2, 'POINT').replace('.00', '') + ')'}"></span><br>
										</td>
										<td>-</td>
										<td>
											<div style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="#{admin.common.slot}"></span>
											</div>
											<div style="margin-top: 5px;">
												<span th:text="#{admin.common.baccarat}"></span>
											</div>
										</td>
										<td>
											<div style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${#numbers.formatDecimal(slotBetAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
											<div style="margin-top: 5px;">
												<span th:text="${#numbers.formatDecimal(baccaratBetAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
										</td>
										<td>
											<div style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${#numbers.formatDecimal(slotWinningAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
											<div style="margin-top: 5px;">
												<span th:text="${#numbers.formatDecimal(baccaratWinningAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
										</td>
										<td>
											<div style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${#numbers.formatDecimal(slotLostAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
											<div style="margin-top: 5px;">
												<span th:text="${#numbers.formatDecimal(baccaratLostAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
										</td>
										<td>
											<div style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${#numbers.formatDecimal(slotBatRollingSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
											<div style="margin-top: 5px;">
												<span th:text="${#numbers.formatDecimal(baccaratBatRollingSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
										</td>
										<td>
											<div style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span>-</span>
											</div>
											<div style="margin-top: 5px;">
												<span>-</span>
											</div>
										</td>
										<td th:text="${slotBatRollingSum + baccaratBatRollingSum}"></td>
										<td>-</td>
										<td>-</td>
									</tr>
	                           </tbody>
	                        </table>
	                   </div>
	                   <div class="tab_cont customPage w99 t_center ptb15"></div>
	                </div>
	                
	                <div class="panel-footer">
                        <a class="btn btn-default store-add-form" th:text="#{admin.store.storeRegistration}"></a>
                    </div>
	            </section>
	            
	        	<div class="modal fade bs-modal-lg" id="storeChangeStatusForm" data-backdrop="static" tabindex="-1" role="basic" aria-hidden="true">
	                <div class="modal-dialog modal-lg">
	                    <div class="modal-content">
	                        <div class="modal-header">
	                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	                            <h2 class="modal-title" th:text="#{admin.store.storeChangeStatus}"></h2>
	                        </div>
	                        <div class="modal-body">
	                        	change status?
	                        </div>
		                    <div class="modal-footer">
                                <button class="btn btn-primary" th:text="#{admin.common.confirm}" id="storeStatusChange" ></button>
                                <button class="btn btn-default" data-dismiss="modal" th:text="#{admin.common.cancel}"></button>
		                    </div>
	                    </div>
	                </div>
	            </div>
	            
	            <div class="modal fade bs-modal-lg" id="storeDeleteForm" data-backdrop="static" tabindex="-1" role="basic" aria-hidden="true">
	                <div class="modal-dialog modal-lg">
	                    <div class="modal-content">
	                        <div class="modal-header">
	                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h2 class="modal-title" th:text="#{admin.store.storeDelete}"></h2>
	                        </div>
	                        <div class="modal-body">
	                        	Delete?
	                        </div>
		                    <div class="modal-footer">
                                <button class="btn btn-primary" th:text="#{admin.common.delete}" id="storeDelete" ></button>
                                <button class="btn btn-default" data-dismiss="modal" th:text="#{admin.common.cancel}"></button>
		                    </div>
                        </div>
                    </div>
                </div>
                
                <div class="modal fade bs-modal-lg" id="storeNoteForm" data-backdrop="static" tabindex="-1" role="basic" aria-hidden="true">
	                <div class="modal-dialog modal-lg">
	                    <div class="modal-content">
	                        <div class="modal-header">
	                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h2 class="panel-title" th:text="#{admin.store.storeNote}"></h2>
	                        </div>
	                        <div class="modal-body">
	                        	<form method="post" th:action="@{/partner2/saveMemo}" id="store-note-form" class="form-horizontal form-bordered mb-lg vform" novalidate="novalidate"  >
		                            <input type="hidden" name="seq" th:value="0" autocomplete="off"/>
		                            <div class="table-scrollable store">
		                            	<div style="margin-bottom: 10px;">
						        			<button type="button" class="btn btn-primary new_btn" onClick="addMemo()"><span th:text="#{admin.common.add}"></span></button>
						        		</div>
		                            
		                            	<table class="table table-bordered table-striped store-list" id="store-memo">
		                            		<thead>
		                            			<tr>
		                            				<th th:text="#{admin.common.hour}"></th>
		                            				<th th:text="#{admin.common.content}"></th>
		                            				<th th:text="#{admin.common.process}"></th>
		                            			</tr>
		                            		</thead>
		                            		<tbody>
		                            			<tr>
		                            				<td></td>
		                            			</tr>
		                            		</tbody>
		                            	</table>
		                            </div>
		                        </form>
	                        </div>
	                        <div class="modal-footer">
                                <button class="btn btn-primary" th:text="#{admin.common.confirm}" id="storeNote"></button>
                                <button class="btn btn-default" data-dismiss="modal" th:text="#{admin.common.cancel}"></button>
		                    </div>
                        </div>
                    </div>
                </div>
	        </section>
	    </div>
	</section>

	<script type="text/javascript" th:inline="javascript">
		var page = [[${page}]];
		var url = [[${url}]];
		var txtAdd = [[#{admin.member.addition}]];
        var txtEdit = [[#{admin.common.edit}]];
        var txtDelete = [[#{admin.common.delete}]];
	</script>

	<script th:replace="template :: scripts"></script>

	<script type="text/javascript" th:inline="javascript">
		createPagenation(page, url);
	</script>
	
	<script th:src="@{/assets/javascripts/partner/storeList.js}"></script>
</body>
</html>