<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="template :: head ('Customer Service')"></head>
<link rel="stylesheet" th:href="@{/assets/stylesheets/admin/board.css}"/>
<body>
    <section class="body">
        <header th:replace="template :: header" class="header"></header>
        <div class="tabs tabs-primary">
        	<div class="inner-wrapper">
			<aside th:replace="template :: sidebar" id="sidebar-left" class="sidebar-left"></aside>
				
				<section class="content-body">
					<header class="panel-heading">
						<h2 class="panel-title">
							<i class="fa fa-caret-square-o-right text-primary"></i>
							<span th:text="#{admin.common.view}"></span>
							<i class="text-primary fa fa-youtube-play"></i>
						</h2>
					</header>
					<div class="panel-body">
						<div class="tabs">
							<ul class="nav nav-tabs">
								<li>
									<a th:href="@{/board/list?province=2}" th:text="#{admin.board.freeBoard}"></a>
								</li>
								<li>
									<a th:href="@{/board/list?province=0}" th:text="#{admin.common.notice}"></a>
								</li>
								<li>
									<a th:href="@{/board/list?province=3}" th:text="#{admin.common.event}"></a>
								</li>
								<li class="active">
									<a th:href="@{/board/questionlist}" th:text="#{admin.board.customerServiceCenter}"></a>
								</li>
								<li>
									<a th:href="@{/board/write}" th:text="#{admin.board.writePost}"></a>
								</li>
							</ul>
							<div class="tab-content">
								<div id="write" class="tab-pane active">
									<form id="questionAnswerForm" th:object="${note}" name="questionAnswerForm" class="form-horizontal" >
										<input type="hidden" name="seq" th:value="${note.seq}">
										<table class="table table-customer">
											<tr>
												<th width="15%">
													<div class="demo-icon-hover mb-sm mt-sm">
														<i class="fa fa-plus-square text-primary"></i> <span th:text="#{admin.common.site}"></span>:
													</div>
												</th>
												<td></td>
											</tr>
											<tr>
												<th width="15%">
													<div class="demo-icon-hover mb-sm mt-sm">
														<i class="fa fa-plus-square text-primary"></i> <span th:text="#{admin.common.title}"></span>:
													</div>
												</th>
												<td>
													<div class="demo-icon-hover mb-sm mt-sm">
														<span th:text="${note.title}"></span>
													</div>
												</td>
											</tr>
											<tr>
												<th width="15%">
													<div class="demo-icon-hover mb-sm mt-sm">
														<i class="fa fa-plus-square text-primary"></i>
														<span th:text="#{admin.common.id.nickname.userName}"></span>:
													</div>
												</th>
												<td th:style="${'background:' + note.color + ';'}">
													<div class="demo-icon-hover mb-sm mt-sm">
														[<span th:text="${note.mId}"></span>]::[<span th:text="${note.nickname}"></span>]::[<span th:text="${note.name}"></span>]
													</div>
												</td>
											</tr>
											<tr>
												<th width="15%">
													<div class="demo-icon-hover mb-sm mt-sm">
														<i class="fa fa-plus-square text-primary"></i> <span th:text="#{admin.common.level}"></span>:
													</div>
												</th>
												<td>
													<div class="demo-icon-hover mb-sm mt-sm">
														<span th:text="${note.levelName}"></span>
													</div>
												</td>
											</tr>
											<tr>
												<th width="15%">
													<div class="demo-icon-hover mb-sm mt-sm">
														<i class="fa fa-plus-square text-primary"></i> <span th:text="#{admin.common.lastDomain}"></span>:
													</div>
												</th>
												<td>
													<div class="demo-icon-hover mb-sm mt-sm">
														<span th:text="${note.site}"></span>
													</div>
												</td>
											</tr>
											<tr>
												<th width="15%">
													<div class="demo-icon-hover mb-sm mt-sm">
														<i class="fa fa-plus-square text-primary"></i> <span th:text="#{admin.common.bankName}"></span>:
													</div>
												</th>
												<td>
													<div class="demo-icon-hover mb-sm mt-sm">
														<span th:text="${note.bankName}"></span>
													</div>
												</td>
											</tr>
											<tr>
												<th width="15%">
													<div class="demo-icon-hover mb-sm mt-sm">
														<i class="fa fa-plus-square text-primary"></i> <span th:text="#{admin.common.date}"></span>:
													</div>
												</th>
												<td>
													<div class="demo-icon-hover mb-sm mt-sm">
														<p th:text="${(note.sendTime != null ? #dates.format(note.sendTime, 'yyyy-MM-dd hh:MM:ss') : '')}"></p>
													</div>
												</td>
											</tr>
											<tr>
												<th width="15%">
													<div class="demo-icon-hover mb-sm mt-sm">
														<i class="fa fa-plus-square text-primary"></i><span th:text="#{admin.common.contents}"></span>:
													</div>
												</th>
												<td>
													<div class="demo-icon-hover mb-sm mt-sm">
														<div id="content"></div>
													</div>
												</td>
											</tr>
											<tr>
												<th width="15%">
													<div class="demo-icon-hover mb-sm mt-sm">
														<i class="fa fa-plus-square text-primary"></i> <span th:text="#{admin.common.answer}"></span>:
													</div>
												</th>
												<td>
						    						<textarea name="answer" id="answer" class="answer form-control" rows="15" th:field="*{answer}"></textarea>
						    						<button class="btn btn-primary answer-btn mt-sm" type="button" th:text="#{admin.common.answer}"></button>
												</td>
											</tr>
										</table>
										<div class="ml-sm mr-sm">
											<div class="form-group">
												<button class="btn btn-primary" type="button" th:text="#{admin.level1DownAccount}" onclick="getConfig('level1');"></button>
												<button class="btn btn-primary" type="button" th:text="#{admin.level2DownAccount}" onclick="getConfig('level2');"></button>
												<button class="btn btn-primary" type="button" th:text="#{admin.level3DownAccount}" onclick="getConfig('level3');"></button>
												<button class="btn btn-primary" type="button" th:text="#{admin.level45DownAccount}" onclick="getConfig('level45');"></button>
												<button class="btn btn-primary" type="button" th:text="#{admin.requestProcessingCompleted}" onclick="getConfig('requestProcessingCompleted');"></button>
												<button class="btn btn-primary" type="button" th:text="#{admin.reLoginRatingUp}" onclick="getConfig('reLoginRatingUp');"></button>
												<button class="btn btn-primary" type="button" th:text="#{admin.friendRecommend}" onclick="getConfig('friendRecommend');"></button>
												<button class="btn btn-primary" type="button" th:text="#{admin.ladderBettingX}" onclick="getConfig('ladderBettingX');"></button>
												<button class="btn btn-primary" type="button" th:text="#{admin.gameErrorReport}" onclick="getConfig('gameErrorReport');"></button>
												<button class="btn btn-primary" type="button" th:text="#{admin.reDepositInformation}" onclick="getConfig('reDepositInformation');"></button>
											</div>
											<div class="panel-body-bottom-title form-group">
												<p class="form-label" th:text="#{admin.questionAnswer.footer.title}"></p>
											</div>
										</div>
									</form>
								</div>
							</div>
							<footer class="panel-footer">
								<p th:text="#{admin.write.footer}"></p>
							</footer>
						</div>
					</div>
				</section>
			</div>   
        </div>
    </section>
	<script type="text/javascript" th:inline="javascript">
    	var url = [[@{/}]] + [[${url}]];
    	var content = [[${note.content}]];
    </script>
    <script th:replace="template :: scripts"></script>
    <script th:src="@{/assets/javascripts/board/questionAnswer.js}"></script>
</body>
</html>