<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="template :: head (#{admin.money.log.title})"></head>
<link rel="stylesheet" th:href="@{/assets/stylesheets/admin/money/money-history.css}"/>
<body>
    <section class="body">
        <div>
            <section role="main" class="content-body">
            	<section class="panel" role="main">
					<header class="panel-heading">
						<h2 class="panel-title" th:text="#{admin.money.log.title}"></h2>
					</header>
					<div class="panel-body">
						<div class="tabs tabs-primary">
							<div class="tab-content">
								<div id="moneyHistory" class="tab-pane active">
									<form id="formSearch" th:action="@{${url}}" th:object="${moneyHistory}" method="get">
										<input type="hidden" th:field="*{operationType}"/>
										<input type="hidden" th:field="*{fromProcessTime}"/>
										<input type="hidden" th:field="*{toProcessTime}"/>
				                    </form>
									<div class="table-scrollable">
										<table class="table table-bordered table-striped" id="moneylog-datatable">
											<thead>
												<tr>
													<th class="time-field" th:text="#{admin.money.log.pause}"></th>
													<th th:text="#{admin.common.id}"></th>
													<th th:text="#{admin.common.nickname}"></th>
													<th th:text="#{admin.common.accountHolder}"></th>
													<th th:text="#{admin.common.distributor}"></th>
													<th th:text="#{admin.money.log.prevAmount}"></th>
													<th th:text="#{admin.money.log.variableAmount}"></th>
													<th th:text="#{admin.money.log.finalAmount}"></th>
													<th th:text="#{admin.common.reason}"></th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="entity : ${page.records}">
													<td th:text="${#dates.format(entity.applicationTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
													<td class='memberId' th:data-key="${entity.member.seq}" th:text="${entity.member.id}"></td>
													<td th:text="${entity.member.nickname}"></td>
													<td th:text="${entity.member.accountHolder}"></td>
													<td th:text="${entity.member.store != null?entity.member.store.id:'independent'}"></td>
													<td th:text="${#numbers.formatDecimal(entity.prevAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
													<td th:class="${entity.operationType==0 || entity.operationType==2?'text-primary':'text-danger'}" 
													th:text="${(entity.operationType==0 || entity.operationType==2?'':entity.variableAmount!=0?'-':'') + #numbers.formatDecimal(entity.variableAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
													<td th:text="${#numbers.formatDecimal(entity.finalAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
													<td th:text="${entity.reason}"></td>
												</tr>
												<tr th:if="${#lists.isEmpty(page.records)}">
			                                        <td class="text-center" colspan="16" style="padding: 20px;" th:text="#{admin.common.noData}"></td>
			                                    </tr>
											</tbody>
										</table>
									</div>
									
									<div class="tab_cont customPage w99 t_center ptb15"></div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</section>
        </div>
    </section>
    
	<script type="text/javascript" th:inline="javascript">
		var page = [[${page}]];
		var url = [[@{${url}}]];
	</script>

    <script th:replace="template :: scripts"></script>
    <script th:src="@{/assets/javascripts/money/money.history.js}"></script>
</body>
</html>