<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="template :: head (#{admin.common.passwordManagement})"></head>
<body>
<section class="body">
    <section class="panel">
    	<header class="panel-heading" 
    		style="background: linear-gradient(to bottom, white, #d1e1f1);border: 5px solid #c6dff9; margin-top:1%;margin-bottom:1%;">
    		<h2 class="panel-title">
    			<i class="fa fa-caret-square-o-right text-primary"></i>
    			<span th:text="#{admin.common.passwordManagement}"></span>
    		</h2>
    		<div class="panel-actions">
				<a href="javascript: window.close();" class="panel-action panel-action-dismiss"></a>
			</div>
    	</header>
    	<div class="panel-body">
    		<form class="form-horizontal form-bordered" method="post" id="pwdForm" th:action="@{/member/updatePwd}">
    			<div class="col-md-12 form-group">
					<label class="control-label col-md-2 form-label">
						<i class="fa fa-plus-square text-primary subIcon"></i>
						<span th:text="#{admin.common.currentPassword}"></span>
					</label>
					<div class="col-md-10">
						<input type="password" class="form-control" style="width:100%;" name="currentPwd" required/>
					</div>
				</div>
				<div class="col-md-12 form-group">
					<label class="control-label col-md-2 form-label">
						<i class="fa fa-plus-square text-primary subIcon"></i>
						<span th:text="#{admin.common.newPassword}"></span>
					</label>
					<div class="col-md-10">
						<input type="password" class="form-control" style="width:100%;" name="newPwd" required/>
					</div>
				</div>
				<div class="col-md-12 form-group">
					<label class="control-label col-md-2 form-label">
						<i class="fa fa-plus-square text-primary subIcon"></i>
						<span th:text="#{admin.common.confirmPassword}"></span>
					</label>
					<div class="col-md-10">
						<input type="password" class="form-control" style="width:100%;" name="confirmPwd" required/>
					</div>
				</div>
    		</form>
       	</div>
      		<footer class="panel-footer" style="text-align:center;">
               <button class="btn btn-default updatePwd" style="background: linear-gradient(to bottom, white, #b6d6f5);" th:text="#{admin.common.save}"></button>
           </footer>
    </section>
</section>

<script type="text/javascript" th:inline="javascript">	
    var CONTEXT_ROOT = [[@{/}]];
    var url = [[@{/}]];
</script>

<script th:replace="template :: scripts"></script>
<script th:src="@{/assets/javascripts/member/passwordManagement.js}"></script>
</body>
</html>