/* Add here all your CSS customizations */
@media only screen and (min-width: 768px) {
    .header {
        background-image: -webkit-linear-gradient(#566e8a 0%, #040e29 70%);
        background-image: linear-gradient(#566e8a 0%, #040e29 70%);
        border-top: none;
    }

    .header-right {
        height: 70px;
    }

    .header .separator {
        background-image: -webkit-linear-gradient(#516884 60%, #415672);
        background-image: linear-gradient(#516884 60%, #415672);
    }
}

.c-yellow{
    color: yellow!important;
}

.content-body {
    padding: 0;
}

.form-control {
    padding: 0;
}

input.form-control{
    border-radius: 0!important;
    padding: 0 5px;
    font-size: 12px;
    height: 21px;
}

select.form-control{
    border-radius: 0!important;
    padding: 0 2px;
    font-size: 12px;
    height: 21px;
}
.panel-body{
    box-shadow: none;
}

.panel-footer {
    margin-top: 0;
    border-top: none;
    padding: 10px 0;
    background-color: initial;
    border-top: none;
}

.border-bottom {
    border-bottom: 1px solid #eff2f7;
}

.search-form.form-inline {
    padding: 10px 10px 0 10px;
    border: 1px solid #DADADA;
    margin-bottom: 10px;
}

.search-form.form-inline .form-group >label{
    font-size: 10px;
    margin-bottom: 0;
}

.search-form .form-group {
    margin-bottom: 10px !important;
}

.search-form .form-group .input-group-icon .input-group-addon .icon{
    padding: 0 12px;
}

.panel-body .btn.btn-default{
    font-size: 13px;
    padding: 0 12px;
    height: 21px;
}

.search-form .checkbox-inline input[type="checkbox"]:checked + label:before {
    background: #0088cc;
    border-color: #0077b3;
}

.search-form .checkbox-inline input[type="checkbox"]:checked + label:after {
    color: #fff;
}

.search-form .checkbox-custom {
    margin-top: 5px;
}

.search-form .checkbox-custom:last-child {
    margin-top: -1px;
}

.search-form div.calendar {
	width: 120px;
	display: inline-block;
}

.search-form i.search-icon {
	background-color: #0088cc;
	color: white;
	padding: 2px;
}

.control-label {
    text-align: left !important;
}

section[class*=member] form .radio-custom {
    margin:5px 5px 0 0;
    display: inline-block;
}

.input-group.color span {
    display: inline;
    background: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #dddddd;
    padding: 5px;
}

#betting-list th {
    text-align: center;
}

#betting-list td {
    vertical-align: middle;
    text-align: center;
    padding: 0;
}

#betting-list td a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

#betting-list td > p:first-child {
    border-top: none;
}

#betting-list .betting-summary-nickname {
    white-space: nowrap;
}

table.table-bordered th {
    color: white;
    background: #5e7c9a;
    text-align: center;
    padding: 5px;
}

div[class*=datetimepicker] .switch {
    display: table-cell;
}

a.text-default {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.sidebar-left {
    background: #929eac;
    box-shadow: none;
    width: 210px;
}

.nav-menu {
    margin: 0 15px;
    background: #ecf5fe;
}

.nav-menu:first-child {
    margin-top: 15px;
}

.nav-menu:last-child {
    margin-bottom: 15px;
}

.nav-menu .head {
    background: #41556e;
}

.nav-menu .head a i {
    color: white;
}

.nav-menu li a {
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.title-pink {
    color: #f189d4;
}

.title-white {
    color: white;
}

.title-green {
    color: #22e275;
}

.title-dark-red {
    color: #c5676b;
}

.title-white-blue {
    color: #6fecec;
}

.blank {
    margin: 5px;
}

html body .tabs-primary .nav-tabs li.active a, html.dark body .tabs-primary .nav-tabs li.active a, html body .tabs-primary .nav-tabs.nav-justified li.active a, html.dark body .tabs-primary .nav-tabs.nav-justified li.active a, html body .tabs-primary .nav-tabs li.active a:hover, html.dark body .tabs-primary .nav-tabs li.active a:hover, html body .tabs-primary .nav-tabs.nav-justified li.active a:hover, html.dark body .tabs-primary .nav-tabs.nav-justified li.active a:hover, html body .tabs-primary .nav-tabs li.active a:focus, html.dark body .tabs-primary .nav-tabs li.active a:focus, html body .tabs-primary .nav-tabs.nav-justified li.active a:focus, html.dark body .tabs-primary .nav-tabs.nav-justified li.active a:focus {
    border-top-color: transparent;
    color: white;
    background: #5e81b9;
}

html body .tabs-primary .nav-tabs li a:hover, html.dark body .tabs-primary .nav-tabs li a:hover, html body .tabs-primary .nav-tabs.nav-justified li a:hover, html.dark body .tabs-primary .nav-tabs.nav-justified li a:hover {
    border-top-color: transparent;
}

html body .tabs-primary .nav-tabs li a, html.dark body .tabs-primary .nav-tabs li a, html body .tabs-primary .nav-tabs.nav-justified li a, html.dark body .tabs-primary .nav-tabs.nav-justified li a, html body .tabs-primary .nav-tabs li a:hover, html.dark body .tabs-primary .nav-tabs li a:hover, html body .tabs-primary .nav-tabs.nav-justified li a:hover, html.dark body .tabs-primary .nav-tabs.nav-justified li a:hover {
    color: #000000;
    background: #dae1eb;
}

.table-striped.diff-color > tbody > tr:nth-of-type(odd) {
    background-color: #ffffcd;
}

.bg-white-yellow {
    background: #ffffcd;
}

.bg-white-grey {
    background: #e0eafe;
}

.sidebar-widget {
    margin: 0 15px;
    background: #ecf5fe;
}

.sidebar-widget:first-child {
    margin-top: 15px;
}

.sidebar-widget:last-child {
    margin-bottom: 15px;
}

.sidebar-widget .widget-header {
    padding: 6px 10px;
    background: #41556e;
}

.sidebar-widget .widget-header h6 {
    text-transform: inherit;
}

.sidebar-widget .widget-header h6 i {
    color: white;
}
.sidebar-widget .widget-content{
    padding: 0px;
}
.sidebar-widget .widget-content ul {
    padding: 4px 8px 10px;
}

.sidebar-widget .widget-content ul li a {
    padding: 0;
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

@media only screen and (min-width: 768px) {
    .alarm-info {
        margin-top: 5px;
        border-bottom: 2px solid #54647c;
    }

    .alarm-info:last-child {
        border-bottom: none;
    }
}

.header-context-info {
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
}

.text-white {
    color: white;
}

.text-dark-yellow {
    color: #ff961d;
}

.money-green {
	color: #4afc41;
}

.menu-li{
    display: flex;
}
.menu-li a.w-50p{
    width: 50%;
}

@media screen and (max-width: 1300px) {
    .hidden-md {
        display: none !important;
    }
}

.table-scrollable {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid #e7ecf1;
  margin: 5px 0 !important;
}
.DTS .table-scrollable {
    border: 0;
}
.table-scrollable.table-scrollable-borderless {
    border: 0;
}
.table-scrollable > .table {
    width: 100% !important;
    margin: 0 !important;
    margin-bottom: 0;
    background-color: #fff;
}

.table-scrollable > .table > tbody > tr > th,
.table-scrollable > .table > tfoot > tr > th,
.table-scrollable > .table > tfoot > tr > th,
.table-scrollable > .table > tfoot > tr > td {
  white-space: nowrap;
}
.table-scrollable > .table-bordered {
    border: 0;
}
.table-scrollable > .table-bordered > thead > tr > th:first-child,
.table-scrollable > .table-bordered > tbody > tr > th:first-child,
.table-scrollable > .table-bordered > tfoot > tr > th:first-child,
.table-scrollable > .table-bordered > thead > tr > td:first-child,
.table-scrollable > .table-bordered > tbody > tr > td:first-child,
.table-scrollable > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0; }
.table-scrollable > .table-bordered > thead > tr > th:last-child,
.table-scrollable > .table-bordered > tbody > tr > th:last-child,
.table-scrollable > .table-bordered > tfoot > tr > th:last-child,
.table-scrollable > .table-bordered > thead > tr > td:last-child,
.table-scrollable > .table-bordered > tbody > tr > td:last-child,
.table-scrollable > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0; }
.table-scrollable > .table-bordered > thead > tr:last-child > th,
.table-scrollable > .table-bordered > tbody > tr:last-child > th,
.table-scrollable > .table-bordered > tfoot > tr:last-child > th,
.table-scrollable > .table-bordered > thead > tr:last-child > td,
.table-scrollable > .table-bordered > tbody > tr:last-child > td,
.table-scrollable > .table-bordered > tfoot > tr:last-child > td {
  border-bottom: 0; }

 .search-result-form label {
    padding-left: 25px;
 }

.search-result-form i {
    font-size: 5px;
    position: absolute;
    top: 15px;
    left: 20px;
}

.search-result-form div {
    margin-bottom: 5px;
}

/* Thomas 2022.04.14------------------------------*/
.text-danger{
    color: #ff0800 !important;
}

.header{
    border-bottom: none;
    height: 154px;
    padding-top: 8px;
}

.header .alarm-info .form-group p{
    font-weight: bold;
    font-size: 14px;
}
.inner-wrapper{
    padding-top: 154px;
}

.alarm-info .alarm-info-title{
    margin-left: 30px;
    padding: 0px 3px;
    color: #35654d;
    font-size: 12px
}
.content-body{
    padding: 8px;
    background: #fff;
}
.panel .panel-heading{
    border: none;
    background: #fff;
    padding: 0;
}

.panel-heading .panel-title {
    font-size: 14px;
    font-weight: bold;
}

.panel-heading .panel-title #totalMsg .member-num{
    color: red;
}

.panel-body{
    padding: 0px;
}

.daily-note{
    margin-right: 30px;
}
.daily-note textarea.note{
    width: 500px;
}

.b-yellow{
    background-color: #f9fa0f;
}

.b-blue{
    background-color: #1792d4;
}

.table.table-bordered .checkbox-custom{
    padding: 0 0 0 18px;
}

.table.table-bordered.table-striped th {
    padding: 3px;
    text-align: center;
}

.table.table-bordered.table-striped tbody tr td > p, .table.table-bordered.table-striped tbody tr td{
    padding: 5px;
    border-top: 1px solid #dadada;
    margin: 0;
}

.input-daterange.input-group .input-group-addon{
    padding: 0 5px;
    line-height: 1;
}

.tabs.tabs-primary .nav.nav-tabs li a{
    padding: 5px 45px;
    margin-right: 0px;
}

.w-50{
    width: 50px!important;
}

.w-80{
    width: 80px;
}

.panel-footer .btn.btn-default{
    background-color: #d2dff0;
    border-radius: 0;
}
.input-daterange.input-group .form-control[name="fromApplicationTime"],
.input-daterange.input-group .form-control[name="toApplicationTime"],
.input-daterange.input-group .form-control[name="fromProcessTime"],
.input-daterange.input-group .form-control[name="toProcessTime"]{
    width: 120px;
}

.form-group .input-group.input-group-icon .form-control[name="searchValue"],
.form-group .input-group.input-group-icon .form-control[name="IDOrNickNameValue"]
{
    width: 160px;
}

.detail-modal .panel-body,
.detail-table-modal .panel-body{
    padding: 0 20px;
}

.detail-modal .panel-body .form-group{
    border-top: solid 1px #e9e9e9;
    border-right: solid 1px #e9e9e9;
    margin-left: -10px!important;
    margin-right: -10px!important;
    display: flex;
}

.detail-modal .panel-body .form-group label.control-label{
    border-left: solid 1px #e9e9e9;
    border-right: solid 1px #e9e9e9;
    padding-left: 5px!important;
    background-color: #f6f6f6;
    padding-bottom: 7px;
}

.detail-modal .panel-body .form-group .form-container{
    display: flex;
    align-items: center;
}

.detail-modal .panel-body .form-group .form-container .control-label{
    padding-top:0
}

.detail-modal .panel-body .form-group .form-container select.form-control[name="levelSeq"],
.detail-modal .panel-body .form-group .form-container select.form-control[name="status"]{
    margin: 0;
}

.panel-footer .panel-footer-btn-group{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.detail-modal .custom-btn{
    background: #3081c9;
    color: white;
    padding: 3px 12px;
    height: 25px;
}

.detail-modal .form-group {
    margin-bottom: 0;
    padding-bottom: 0;
}


.detail-modal .panel-heading,
.detail-table-modal .panel-heading
{
    padding: 10px;
}
.detail-modal .custom-textarea{
    height: 150px;
    margin-bottom: 20px;
}

.note-inbox-detail{
    border: solid 2px #5e7c9a;
    padding: 0 15px;
}
.note-inbox-detail .note-content{
    background-color: #f6f6f6;
    padding: 5px;
    display: flex;
}
.note-inbox-detail .note-content div
{
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eeeeee;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    font-weight: bold;
}

.member-money-change.detail-modal .casino-money{
    color: red;
    margin-left: 5px;
}