

#member-list td {
    vertical-align: middle;
    text-align: center;
    padding: 0;
}

#member-list td a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

#member-list td > p:first-child {
    border-top: none;
}

#member-list .member-nickname {
    white-space: nowrap;
}

#member-list .member-money {
    white-space: nowrap;
}



#deputyHeadquarterDetailModal .form-group {
    margin-bottom: 0px;
    padding-bottom: 0px;
}


#partnerDistributorDetail .form-group {
    margin-bottom: 0px;
    padding-bottom: 0px;
}


#partnerStoreDetail .form-group {
    margin-bottom: 0px;
    padding-bottom: 0px;
}


#memo-list td a {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}

#member-list .member-id {
    white-space: nowrap;
}

select.form-control[name="levelSeq"], select.form-control[name="status"]{
    width: 60px;
    margin: 0 auto;
}
