<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="template :: head (#{admin.menu.member.WriteNote})"></head>
<link rel="stylesheet" th:href="@{/assets/stylesheets/admin/member.css}"/>
<body>
    <section class="body">
        <header th:replace="template :: header" class="header"></header>
        
        <div class="inner-wrapper">
            <aside th:replace="template :: sidebar" id="sidebar-left" class="sidebar-left"></aside>
            
            <section role="main" class="content-body">
            	<form method = "post" id="noteForm" th:action="@{send}" th:object="${note}" >
	            	<section class="panel" role="main">
						<header class="panel-heading">
							<h2 class="panel-title">
								<i class="fa fa-caret-square-o-right text-primary"></i>
								<span th:text="#{admin.menu.member.WriteNote}"></span>
							</h2>
						</header>
						<div class="panel-body">
							<div class="form-group">
								<div class="demo-icon-hover mb-sm mt-sm col-sm-2">
									<i class="fa fa-plus-square text-primary"></i> <span th:text="#{admin.common.sender}"></span>:
								</div>
								<div class="col-sm-8">
									<input type="text" name="sender" value="운영팀" class="form-control" required readonly="readonly">
								</div>
							</div>
							<div class="form-group">
								<div class="demo-icon-hover mb-sm mt-sm col-sm-2">
									<i class="fa fa-plus-square text-primary"></i> <span th:text="#{admin.common.recipient}"></span>:
								</div>
								<div class="col-sm-8">
									<div class="row">
										<div class="col-md-3">
											<select data-plugin-selectTwo class="form-control populate" name="levelSeq" id="levelType">
												<option value="">등급</option>
												<option th:each="item : ${levelList}" th:value="${item.seq}" th:text="${item.levelName}"></option>
											</select>
										</div>
										<div class="col-md-3">
											<select data-plugin-selectTwo class="form-control" name="storeSeq" required>
												<option th:each="store : ${storeList}" th:value="${store.seq}" th:text="${store.id}"></option>
											</select>
										</div>
										<div class="col-md-3">
											<select data-plugin-selectTwo class="form-control populate" name="site" required>
												<option th:each="site : ${domainList}" th:value="${site.siteName}" th:text="${site.siteName}"></option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="demo-icon-hover mb-sm mt-sm col-sm-2">
									<i class="fa fa-plus-square text-primary"></i> <span th:text="#{admin.common.title}"></span>:
								</div>
								<div class="col-sm-8">
									<input type="text" name="title" class="form-control" required>
								</div>
							</div>
							<div class="form-group">
								<div class="demo-icon-hover mb-sm mt-sm col-sm-2">
									<i class="fa fa-plus-square text-primary"></i> <span th:text="#{admin.common.contents}"></span>:
								</div>
								<div class="col-sm-8">
									<textarea name="content" rows="5" class="form-control" required></textarea>
								</div>
							</div>
						</div>
						<footer class="panel-footer">
							<div class="row">
								<div class="col-sm-9">
									<button class="btn btn-primary send-note"><span th:text="#{admin.common.send}"></span></button>
									<a th:href="@{/memo/sendlist}" class="btn btn-default" th:text="#{admin.common.cancel}">Cancel</a>
								</div>
							</div>
						</footer>
					</section>
				</form>
			</section>
        </div>
    </section>

	<script type="text/javascript" th:inline="javascript">
		var url = [[@{/}]] + [[${url}]];
	</script>

    <script th:replace="template :: scripts"></script>

    <script th:src="@{/assets/javascripts/note/note.js}"></script>

</body>
</html>