<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="template :: head (#{admin.common.popup.title})"></head>
<link rel="stylesheet" th:href="@{/assets/stylesheets/admin/member.css}"/>
<body>
    <section class="body member-detail">
        <div class="row" id="memberDetailModal">
            <div role="main" class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        <h4 class="panel-title">
                            <i class="fa fa-caret-square-o-right text-primary"></i>
                            [[#{admin.common.member.detail}]]
                        </h4>
                    </header>
                    <div class="panel-body">
                        <form id="member-update-form" th:object="${memberForm}" class="form-horizontal form-bordered"
                              th:action="@{/member/update}" method="post">
                            <input type="hidden" th:field="*{seq}" />
                            <input type="hidden" th:field="*{userType}" />
                            <div class="form-group">
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.id}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <p class="control-label member-id" th:text="*{id}"></p>
                                </div>
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.password}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <input type="text" class="form-control" th:field="*{password}" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.nickname}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <input type="text" class="form-control" th:field="*{nickname}" style="display: inline-block; width: auto;" />
                                    <div class="input-group color" th:data-color="*{color}" data-color-format="rgb" data-plugin-colorpicker style="display: inline-block;">
                                        <span class="input-group-addon"><i></i></span>
                                        <input type="text" class="form-control" th:value="*{color}" name="color" style="display: none;">
                                    </div>
                                    <a class="btn btn-default erase-color" th:text="#{admin.member.eraseColor}"></a>
                                </div>
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.name}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <p class="control-label" th:text="*{name}"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.reservedAmount}]]&nbsp;/&nbsp;[[#{admin.common.mileage}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <p class="control-label member-money" style="display: inline-block; width: auto; cursor: pointer;">
                                        [[*{#numbers.formatDecimal(moneyAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '')}]]
                                        <span class="text-danger">[</span>
                                        <span class="text-danger"
                                              th:text="*{#numbers.formatDecimal(deposit, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
                                        <span class="text-danger">]</span>
                                    </p>
                                    &nbsp;/&nbsp;
                                    <p class="control-label member-money" style="display: inline-block; width: auto; cursor: pointer;"
                                       th:text="*{#numbers.formatDecimal(mileageAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></p>
                                    <a class="btn btn-default">[[#{admin.member.moneyRenewal}]]</a>
                                </div>
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.betAmount}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <p class="control-label">
                                        [[*{#numbers.formatDecimal((slotBettingAmount+baccaratBettingAmount), 1, 'COMMA', 2, 'POINT').replace('.00', '')}]]&nbsp;[[#{admin.common.won}]]
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.nameOfBank}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <input type="text" class="form-control" th:field="*{bankName}" />
                                </div>
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.accountHolder}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <input type="text" class="form-control" th:field="*{accountHolder}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.accountNumber}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <input type="text" class="form-control" th:field="*{bankNumber}" />
                                </div>
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.member.exchangePassword}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <input type="text" class="form-control" th:field="*{exchangePassword}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.memberSince}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <p class="control-label" th:text="*{#dates.format(registerDate, 'yyyy-MM-dd HH:mm:ss')}"></p>
                                </div>
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.member.recentDate}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <p class="control-label" th:text="*{#dates.format(recentDate, 'yyyy-MM-dd HH:mm:ss')}"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.member.signUpIp}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <p class="control-label" th:text="*{signupIP}"></p>
                                </div>
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.member.loginIp}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <p class="control-label" th:text="*{connectionIP}"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.member.signUpDomain}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <p class="control-label" th:text="*{siteDomain}"></p>
                                </div>
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.store}]]/[[#{admin.common.distributor}]]/[[#{admin.common.subHeadquarter}]]
                                </label>
                                <div class="col-md-4 col-sm-6 partner-info">
                                    <select class="form-control" name="selSeq" style="display: inline-block; width: auto;">
                                        <option th:each="partner : ${partnerList}"
                                                th:value="${partner.seq}"
                                                th:selected="*{storeSeq != null} ? ${partner.seq} == *{storeSeq} : (*{distributorSeq != null} ? ${partner.seq} == *{distributorSeq} : (*{subHeadquarterSeq != null} ? ${partner.seq} == *{subHeadquarterSeq} : false))"
                                                th:text="${partner.id}"></option>
                                    </select>
                                    <p class="control-label storeSeq" th:text="*{storeID}" style="display: inline-block;"></p>&nbsp;/&nbsp;
                                    <p class="control-label distributorSeq" th:text="*{distributorID}" style="display: inline-block;"></p>&nbsp;/&nbsp;
                                    <p class="control-label subHeadquarterSeq" th:text="*{subHeadquarterID}" style="display: inline-block;"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.numberOfDeposit}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <p class="control-label" th:text="*{depositCount}" style="display: inline-block;"></p>&nbsp;
                                    [[#{admin.common.times}]]
                                </div>
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.numberOfWithdrawal}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <p class="control-label" th:text="*{withdrawalCount}" style="display: inline-block;"></p>&nbsp;
                                    [[#{admin.common.times}]]
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.totalDeposit}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <p class="control-label" style="display: inline-block;">
                                        [[*{#numbers.formatDecimal(deposit, 1, 'COMMA', 2, 'POINT').replace('.00', '')}]]
                                    </p>&nbsp;
                                    [[#{admin.common.won}]]
                                </div>
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.totalWithdrawal}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <p class="control-label" style="display: inline-block;">
                                        [[*{#numbers.formatDecimal(withdrawal, 1, 'COMMA', 2, 'POINT').replace('.00', '')}]]
                                    </p>&nbsp;
                                    [[#{admin.common.won}]]
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.membershipLevel}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <select class="form-control" th:field="*{levelSeq}">
                                        <option th:each="level : ${levelList}"
                                                th:value="${level.seq}"
                                                th:text="${level.levelName}"
                                                th:selected="${level.seq == levelSeq}"></option>
                                    </select>
                                </div>
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.status}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <select class="form-control" th:field="*{status}">
                                        <option th:each="status : ${statusList}"
                                                th:value="${status.dictValue}"
                                                th:text="${status.strValue}"
                                                th:selected="${status.dictValue.toString() == status.toString()}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.email}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <p class="control-label" th:text="*{emailAddress}"></p>
                                </div>
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.phoneNumber}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <input type="text" class="form-control" th:field="*{phoneNumber}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.member.memberRevenue}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <p class="control-label">
                                        [[*{#numbers.formatDecimal(memberRevenue, 1, 'COMMA', 2, 'POINT').replace('.00', '')}]]&nbsp;[[#{admin.common.won}]]
                                    </p>
                                </div>
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.member.recommender}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <p class="control-label" th:text="*{recommender}"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.member.memberWhoSignedUp}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <a class="btn btn-default recommended-person" th:text="#{admin.common.details}"></a>
                                </div>
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.logout}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <a class="text-danger" th:text="#{admin.common.logout}"></a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.member.slotRatePoints}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <input type="number" class="form-control" th:field="*{slotRate}" style="display: inline-block; width: auto;" required />%
                                </div>
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.member.baccaratRatePoints}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <input type="number" class="form-control" th:field="*{baccaratRate}" style="display: inline-block; width: auto;" required />%
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.possible}]]&nbsp;/&nbsp;[[#{admin.common.notPossible}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <div class="radio-custom radio-primary">
                                        <input type="radio" id="bettingPossibleOn" name="bettingPossible"
                                               value="0" th:checked="*{bettingPossible == 0}" />
                                        <label for="bettingPossibleOn" th:text="#{admin.member.on}">On</label>
                                    </div>
                                    <div class="radio-custom radio-primary">
                                        <input type="radio" id="bettingPossibleOff" name="bettingPossible"
                                               value="1" th:checked="*{bettingPossible == 1}" />
                                        <label for="bettingPossibleOff" th:text="#{admin.member.off}">Off</label>
                                    </div>
                                </div>
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.recommendable}]]
                                </label>
                                <div class="col-md-4 col-sm-6">
                                    <div class="radio-custom radio-primary">
                                        <input type="radio" id="recommendableOn" name="recommendable"
                                               value="0" th:checked="*{recommendable == 0}" />
                                        <label for="recommendableOn" th:text="#{admin.member.on}">On</label>
                                    </div>
                                    <div class="radio-custom radio-primary">
                                        <input type="radio" id="recommendableOff" name="recommendable"
                                               value="1" th:checked="*{recommendable == 1}" />
                                        <label for="recommendableOff" th:text="#{admin.member.off}">Off</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-6 control-label">
                                    <i class="fa fa-plus-square text-primary"></i>
                                    [[#{admin.common.memo}]]
                                </label>
                                <div class="col-md-10 col-sm-6">
                                    <div class="table-scrollable">
                                        <table class="table table-bordered table-striped" id="memo-list">
                                            <thead>
                                            <th class="text-center" style="width: 20%;" th:text="#{admin.common.hour}"></th>
                                            <th class="text-center" style="width: 60%;" th:text="#{admin.common.contents}"></th>
                                            <th class="text-center" style="width: 20%;" th:text="#{admin.common.process}"></th>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td></td>
                                                <td><textarea name="content" style="width: 100%;"></textarea></td>
                                                <td class="text-center"><a class="add-memo">[[#{admin.member.addition}]]</a></td>
                                            </tr>
                                            <tr class="json-data" th:each="memo : *{memoList}">
                                                <td class="text-center">
                                                    <p class="date" style="margin: 0" th:text="${memo.hour.split(' ')[0]}"></p>
                                                    <p class="time" style="margin: 0" th:text="${memo.hour.split(' ')[1]}"></p>
                                                </td>
                                                <td>
                                                    <textarea name="content" style="width: 100%;" th:text="${memo.contents}"></textarea>
                                                </td>
                                                <td class="text-center">
                                                    <a class="update-memo">[[#{admin.common.edit}]]</a>
                                                    <a class="delete-memo">[[#{admin.common.delete}]]</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <footer class="panel-footer">
                        <button class="btn btn-default money-change">
                            [[#{admin.common.charge}]]/[[#{admin.common.exchange}]]
                        </button>
                        <button class="btn btn-default money-history">[[#{admin.money.log.title}]]</button>
                        <button class="btn btn-default mileage-history">[[#{admin.mileage.log.title}]]</button>
                        <button class="btn btn-default member-deposit">[[#{admin.deposit.log.title}]]</button>
                        <button class="btn btn-default member-withdrawal">[[#{admin.common.withdrawalHistory}]]</button>
                        <button class="btn btn-default bet-history">[[#{admin.common.bettingSummary}]]</button>
                        <button class="btn btn-default access-log">[[#{admin.common.accessHistory}]]</button>
                        <button class="btn btn-default member-inbox">[[#{admin.common.inbox}]]</button>
                        <button class="btn btn-default write-note">[[#{admin.member.writeNote}]]</button>
                        <button class="btn btn-default update-member">[[#{admin.common.edit}]]</button>
                        <button onclick="javascript: window.close();" class="btn btn-default" th:text="#{admin.common.close}"></button>
                    </footer>
                </section>
            </div>
        </div>
    </section>

    <script type="text/javascript" th:inline="javascript">
        var url = [[${url}]];
        var partnerList = [[${partnerList}]];
    </script>

    <script th:replace="template :: scripts"></script>
    <script th:src="@{/assets/javascripts/member/detail.js}"></script>
</body>
</html>