<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="template :: head (#{admin.common.popup.title})"></head>
<link rel="stylesheet" th:href="@{/assets/stylesheets/admin/member.css}"/>
<body>
<section class="body member-detail">
    <div class="row" id="memberDetailModal">
        <div role="main" class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-caret-square-o-right text-primary"></i>
                        [[#{admin.member.memberInformation}]]
                    </h4>
                </header>
                <div class="panel-body">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-striped" id="recommended-member-list">
                            <thead>
                            <tr>
                                <th th:text="#{admin.common.id}"></th>
                                <th th:text="#{admin.common.nickname}"></th>
                                <th th:text="#{admin.common.holdingAmount}"></th>
                                <th th:text="#{admin.common.holdingPoints}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="4" class="text-center">
                                    [[#{admin.common.noData}]]
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="panel-footer">
                    <button onclick="javascript: window.close();" class="btn btn-default" th:text="#{admin.common.close}"></button>
                </footer>
            </section>
        </div>
    </div>
</section>

<script type="text/javascript" th:inline="javascript">
    var url = [[${url}]];
</script>

<script th:replace="template :: scripts"></script>
</body>
</html>